.main {
  width: 100vw;
  height: 100vh;
  /*  background-color: blueviolet; */
  /* background-image: url('../assets/images/HomeBackground.jpg'); */
  /* background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover; */
  z-index: -1;
}

.main__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
}

.main__slogan {
  font-weight: 600;
  color: var(--black);
  font-size: 3rem;
  text-align: center;
}

.main__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.main__buttons button {
  background-color: var(--yellow);
  padding: 0.7rem 1.3rem;
  border: none;
  border-radius: 5px;
  font-weight: 500;
}

.main__buttonAbout {
  color: var(--yellow);
  background-color: var(--black) !important;
  margin-left: 1rem;
}

@media (max-width: 768px) {
  .main {
    background-position: 50% 0;
  }
  .main__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 0px;
  }
  .main__search {
    width: 100%;
    flex-direction: column;
  }

  .main__slogan {
    margin-top: 40px;
  }

  .main__searchBar {
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .main__searchButton {
    border-radius: 5px;
    width: 100%;
  }

  .navbar__title img {
    margin-left: 1rem;
  }
}

@media (max-width: 400px) {
  .main__slogan {
    font-size: 2.3rem;
  }
}

@media (max-width: 300px) {
  .main__buttons {
    flex-direction: column;
  }
  .main__buttons button {
    width: 100%;
  }
  .main__buttonAbout {
    margin-left: 0;
    margin-top: 1rem;
  }
}

/* @media (min-height: 1000px) {
  .main {
    height: 50vh;
  }

  #ReactBackgroundSlider > figure {
    height: 50% !important;
  }
} */
