.modal-header h4 {
  color: var(--secondary-color) !important;
}

.modal-body h6 {
  color: var(--secondary-color) !important;
}

.modal-body {
  text-align: left;
}

.modal .btn-close {
  background-color: inherit;
  border: none;
}

.modal__field {
  margin-bottom: 1.5rem;
  width: 100%;
}

.modal__field:last-child {
  margin-bottom: 0;
}

.modal__field label {
  margin-bottom: 0;
}

.modal h6 {
  margin-bottom: 0.5rem !important;
}

.modal select,
.modal input,
.modal textarea {
  background-color: inherit;
  padding: 0.5rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  width: 100%;
  display: block;
}

.modal textarea {
  font-size: 14px;
}

.modal textarea:focus {
  border: 1px solid var(--primary-color);
  outline-color: var(--primary-color) !important;
}

.modal-body button {
  background-color: inherit;
  border: none;
}

.education__years select {
  width: 49%;
}

.modal__skill {
  display: inline-block;
  margin-right: 0.5rem !important;
  padding: 0.5rem 0.7rem !important;
  background-color: var(--primary-color);
  font-weight: 500;
  border-radius: 2rem;
  font-size: 12px !important;
}

.modal__skill path {
  color: black !important;
}

.modal__skillsForm {
  display: flex;
  align-items: center;
}

.modal__skillsForm input {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.modal__skillsForm button {
  background-color: var(--primary-color) !important;
  padding-top: 9px;
  padding-bottom: 9px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
