.editBio__form {
  margin: 0 1rem;
  margin-left: 3rem;
}

.editBio__form textarea {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
}
