.education__form .row {
  margin: 0 1rem;
}

.education__form h6 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.education__field {
  margin-bottom: 1rem;
}

.education__field input,
.education__field select {
  padding: 0.4rem 1rem;
  width: 94%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: inherit;
  border-radius: 0.3rem;
}

.education__field select {
  width: 49%;
}
