.eachService {
  margin-top: 100px;
}
.eachService h1 {
  text-align: center;
  font-weight: 600;
}

.eachService h1::after {
  content: '';
  display: block;
  height: 8px;
  background-color: var(--yellow);
  width: 150px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.eachService__text {
  text-align: justify;
  margin-top: 50px;
  margin-bottom: 50px;
}
