.home__description {
  display: flex;
  align-items: center;
  margin: 2rem 20px 0 20px !important;
}

.description__text h1 {
  font-weight: 600;
}

.description__text h1::after {
  content: '';
  display: block;
  height: 8px;
  background-color: var(--yellow);
  width: 100px;
}

.home__services {
  margin-left: 18px;
  margin-right: 18px;
}

.home__services h1 {
  text-align: center;
  font-weight: 600;
  margin-bottom: 2rem;
}

.home__services h1::after {
  content: '';
  display: block;
  height: 8px;
  background-color: var(--yellow);
  width: 150px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
