.register {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--black);
  overflow: hidden;
}

.register__container {
  background-color: white;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 450px;
  width: 100%;
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}

.register h2 {
  font-weight: 600;
  position: relative;
}

.register h2 div {
  display: block;
  height: 5px;
  width: 80px;
  background-color: var(--yellow);
  position: absolute;
}

.home__link {
  position: absolute;
  top: 20px;
  right: 20px;
  color: gray;
  font-weight: 500;
}

.home__link:hover,
.home__link:active {
  text-decoration: none;
  border-bottom: 2px solid gray;
  color: gray;
}

.home__link .fa-home {
  margin-right: 5px;
}

.home__link .fa-home path {
  color: gray;
}

.register img {
  margin-right: -80px;
}

.register__form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 90%;
}

.register__input {
  background-color: rgb(240, 240, 240);
  padding: 0.5rem 10px 0.5rem 10px;
  margin-bottom: 1rem;
  border-radius: 7px;
  display: flex;
  align-items: center;
}

.register__input input {
  background-color: inherit;
  border: none;
  margin-left: 10px;
  width: 280px;
  font-size: 0.9rem;
}

.register__input input:focus {
  outline: none;
}

.register__input .svg-inline--fa path {
  color: rgb(180, 180, 180);
}

.register__checkbox {
  display: flex;
  align-items: center;
  color: darkgray;
  font-weight: 500;
  font-size: 0.9rem;
}

.register__checkbox input {
  margin-right: 5px;
}

.register__submit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.register__submit a {
  margin-bottom: 0;
  color: var(--black);
  font-size: 0.9rem;
  font-weight: 500;
  border-bottom: 1px solid var(--black);
  cursor: pointer;
}

.register__submit a:hover,
.register__submit a:active {
  text-decoration: none;
  color: var(--black);
}

.register__submit button {
  border: 1px solid var(--yellow);
  color: var(--black);
  font-weight: 500;
  background-color: var(--yellow);
  border-radius: 5px;
  padding: 7px 15px;
}

@media (max-width: 800px) {
  .register img {
    display: none;
  }

  .register {
    background-color: white;
  }
  .home__link {
    right: unset;
  }

  .register__form {
    margin-top: 60px;
  }

  .register__container {
    transform: translate(-50%, -55%);
  }
}
