.services {
  margin-left: 18px;
  margin-right: 18px;
  margin-top: 100px;
}

.services h1 {
  text-align: center;
  font-weight: 600;
  margin-bottom: 2rem;
}

.services h1::after {
  content: '';
  display: block;
  height: 8px;
  background-color: var(--yellow);
  width: 150px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.service__container:hover {
  text-decoration: none;
}

.service {
  height: 200px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px;
  padding: 0 15px;
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(0.6);
}

.service__container h2 {
  margin: auto 0;
  color: white;
  font-weight: 600;
  font-size: 1.6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.service p {
  color: white;
  margin: 0 !important;
  padding: 0 !important;
  text-align: justify;
}
