.video__container {
  background-color: #131313;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  animation: anim;
  animation-duration: 0.3s;
  animation-delay: 4.3s;
  animation-fill-mode: forwards;
}

@keyframes anim {
  from {
    background-color: #131313;
  }
  to {
    background-color: #fcd114;
  }
}
video {
  width: 100vw;
}
