.video__container {
  background-color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  /* animation: anim;
  animation-duration: 100ms;
  animation-delay: 4310ms;
  animation-fill-mode: forwards; */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
}

@keyframes anim {
  from {
    background-color: #131313;
  }
  to {
    background-color: #fcd114;
  }
}
.video__container img {
  width: 100vw;
}
