.crop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 9999;
  position: fixed;
  top: 0;
  overflow-y: hidden;
}
.cropContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  max-width: 500px;
  width: 100%;
}

.imageCropContainer {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: white;
}

.crop__controls {
  background-color: white;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  margin: 0px 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* left: 50%; */
  z-index: 99999;
}

.crop__controls input {
  width: 100%;
  margin-bottom: 1rem;
}

.crop__controls button {
  width: 100px;
}

/* .cropContainer {
  width: 100vw;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  z-index: 9999;
}

.imageCropContainer {
  position: absolute;
  width: 100%;
  height: 400px;
  background-color: white;
} */
