.dashboard__confirmEmail {
  margin-top: 100px;
  background-color: #f50057;
  color: white;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 30px;
  text-align: center;
}

.dashboard__confirmEmail h5 {
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 17px;
}

.dashboard__confirmEmail p {
  color: white;
  font-weight: 500;
  font-size: 15px;
}

.dashboard {
  padding: 2rem 2rem !important;
  border-radius: 0.3rem;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.dashboard__userTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.3); */
  padding-bottom: 0.5rem;
}

.user__image {
  position: relative;
  display: flex;
  justify-content: center;
}

.user__imageAvatar {
  border-radius: 50%;
  cursor: pointer;
}

.user__imageEdit input {
  display: none;
}

.user__imageEdit label {
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
  color: white;
  letter-spacing: 1px;
  cursor: pointer;
}

.user__imageEdit label path {
  color: white;
}

.user__info {
  margin-top: 1.5rem;
  text-align: center;
}

.user__info h5 {
  font-weight: 600;
  margin-bottom: 5px;
}

.user__title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: darkgray;
  font-weight: 500;
  margin-bottom: 0;
}

.user__title .dashboard__editBtn {
  background-color: white;
}

.user__title .dashboard__editBtn path {
  color: darkgray;
}

.dashboard__editBtn {
  border: none;
  font-size: 15px;
}

.user__description {
  font-size: 14px;
  font-weight: 500;
  margin-top: 2rem;
  color: var(--secondary-color);
  text-align: justify;
}

.dashboard__editBtn {
  background-color: var(--primary-color);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  font-size: 14px;
  padding-left: 2px;
  padding-bottom: 1px;
}

.dashboard__editBtn path {
  color: var(--secondary-color);
}

.dashboard__title {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  justify-content: space-between;
}

.dashboard__title h5 {
  font-weight: 600;
  margin-bottom: 0;
}

/* .dashboard__title h5::after {
  content: '';
  display: block;
  background-color: var(--primary-color);
  height: 4px;
  width: 100%;
  margin-bottom: 0.3rem;
  border-radius: 10px;
} */

.sidebar__languages li {
  font-weight: 500;
  font-size: 15px;
}

.sidebar__languages span {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}

.presentation__skills li {
  display: inline-block;
  margin-right: 0.5rem;
  padding: 0.4rem 1rem;
  background-color: var(--primary-color);
  font-weight: 500;
  border-radius: 1rem;
  font-size: 14px;
  margin-top: 0.5rem;
}

.dashboard__right {
  padding-right: 0 !important;
}

.education__school h6 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0;
}

.education__details {
  font-size: 14px;
  font-weight: 500;
}

.education__year {
  font-size: 13px;
  font-weight: 500;
  color: gray;
}

/* .dashboard__main h5 {
  font-weight: 600;
  font-size: 18px;
}

.dashboard__main svg {
  margin-top: 0px;
  cursor: pointer;
}

.dashboard__main svg path {
  color: darkgray;
}

.dashboard__main svg:hover path,
.dashboard__main svg:focus path {
  color: rgba(0, 0, 0, 0.5);
}





.presentation__hourlyRate h5::after {
  display: none;
}

.dashboard__title > button {
  border: none;
  background-color: inherit;
}

.dashboard__section {
  margin-bottom: 2rem;
}

.sidebar__languages li {
  font-weight: 500;
  font-size: 14px;
}

.sidebar__languages span {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}

.education__school {
  margin-bottom: 0 !important;
}

.education__school button {
  background-color: inherit;
  border: none;
  margin-top: -5px;
}

.education__details,
.education__year {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
}

.presentation__header {
  display: flex;
  justify-content: space-between;
}

.presentation__title h4 {
  font-weight: 600;
  font-size: 1.8rem;
}

.presentation__bio p {
  font-size: 14px;
}



.dashboard__completeProfile svg {
  cursor: default;
}

.dashboard__completeProfile svg path {
  color: var(--primary-color);
  cursor: default;
}

.dashboard__completeProfile svg:hover path {
  color: var(--primary-color);
} */

.dashboard__gigs .row span {
  position: unset !important;
}

.dashboard__gigsHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.dashboard__gigsHeader h2 {
  font-weight: 600;
}

.dashboard .gig__type {
  text-transform: capitalize;
}

.dashboard .gig__title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dashboard .gig__footer {
  display: flex;
  justify-content: space-between;
}

.dashboard .gig__footerPrice {
  font-weight: 500;
}

.dashboard .gig__buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.dashboard__gigState {
  font-size: 14px;
  margin-top: 10px;
}

.dashboard .gig__image {
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.dashboard .store__gig img {
  width: 275px;
}

@media (max-width: 768px) {
  .dashboard__right {
    padding-left: 0 !important;
  }
}
