.dashboard__confirmEmail {
  margin-top: 100px;
}

.dashboard {
  margin-top: 100px;
  padding: 2rem 2rem !important;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.dashboard__user {
  display: flex;
  align-items: center;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.3); */
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.user__image {
  position: relative;
}

.user__image img {
  border-radius: 50%;
  margin-right: 3rem;
  cursor: pointer;
}

.user__imageEdit input {
  display: none;
}

.user__imageEdit label {
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-75%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
  color: white;
  letter-spacing: 1px;
  cursor: pointer;
}

.user__imageEdit label path {
  color: white;
}

.user__info h4 {
  font-weight: 600;
}

.user__info p {
  font-size: 14px;
}

.dashboard__main h5 {
  font-weight: 600;
  font-size: 18px;
}

.dashboard__main svg {
  margin-top: 0px;
  cursor: pointer;
}

.dashboard__main svg path {
  color: darkgray;
}

.dashboard__main svg:hover path,
.dashboard__main svg:focus path {
  color: rgba(0, 0, 0, 0.5);
}

.dashboard__title {
  display: flex;
  align-items: flex-start;
}

.dashboard__title h5::after {
  content: '';
  display: block;
  background-color: var(--yellow);
  height: 5px;
  width: 100%;
  margin-bottom: 0.3rem;
}

.presentation__hourlyRate h5::after {
  display: none;
}

.dashboard__title > button {
  border: none;
  background-color: inherit;
}

.dashboard__section {
  margin-bottom: 2rem;
}

.sidebar__languages li {
  font-weight: 500;
  font-size: 14px;
}

.sidebar__languages span {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}

.education__school {
  margin-bottom: 0 !important;
}

.education__school button {
  background-color: inherit;
  border: none;
  margin-top: -5px;
}

.education__details,
.education__year {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
}

.presentation__header {
  display: flex;
  justify-content: space-between;
}

.presentation__title h4 {
  font-weight: 600;
  font-size: 1.8rem;
}

.presentation__bio p {
  font-size: 14px;
}

.presentation__skills li {
  display: inline-block;
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  background-color: var(--yellow);
  font-weight: 500;
  border-radius: 2rem;
  font-size: 14px;
}

.dashboard__completeProfile {
  font-size: 13px;
  background-color: var(--black);
  border-radius: 0.5rem;
  color: var(--yellow);
  padding: 0.5rem 0.8rem;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
}

.dashboard__completeProfile svg {
  cursor: default;
}

.dashboard__completeProfile svg path {
  color: var(--yellow);
  cursor: default;
}

.dashboard__completeProfile svg:hover path {
  color: var(--yellow);
}

.dashboard__gigs {
  margin-top: 50px !important;
}

.dashboard__gigsHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.dashboard__gigsHeader h2 {
  font-weight: 600;
}

.dashboard .gig__type {
  text-transform: capitalize;
}

.dashboard .gig__title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 50px;
}

.dashboard .gig__footer {
  display: flex;
  justify-content: space-between;
}

.dashboard .gig__footerPrice {
  font-weight: 500;
}

.dashboard .gig__buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.dashboard__gigState {
  font-size: 14px;
  margin-top: 10px;
}
