.home__description {
  display: flex;
  align-items: center;
  margin: 2rem 20px 0 20px !important;
}

.description__text h1 {
  font-weight: 600;
}

.description__text h1 div {
  display: block;
  height: 8px;
  background-color: var(--yellow);
  width: 100px;
  text-align: right;
  position: absolute;
  margin-top: 5px;
}
