.login {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--secondary-color);
  overflow: hidden;
}

.login__container {
  background-color: white;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 450px;
  width: 100%;
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login h2 {
  font-weight: 600;
  position: relative;
}

.login h2 div {
  display: block;
  height: 5px;
  width: 80px;
  background-color: var(--primary-color);
  position: absolute;
}

.home__link {
  position: absolute;
  top: 20px;
  right: 20px;
  color: gray;
  font-weight: 500;
}

.home__link:hover,
.home__link:active {
  text-decoration: none;
  border-bottom: 2px solid gray;
  color: gray;
}

.home__link .fa-home {
  margin-right: 5px;
}

.home__link .fa-home path {
  color: gray;
}

.login img {
  margin-left: -100px;
}

.login__form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 85%;
  margin-top: 2rem;
}

.login__inputForm {
  margin-bottom: 1rem;
}

.login__inputForm p {
  margin-bottom: -0.5rem !important;
}

.login__input {
  background-color: rgb(240, 240, 240);
  padding: 0.5rem 10px 0.5rem 10px;
  border-radius: 7px;
  display: flex;
  align-items: center;
}

.login__input input {
  background-color: inherit;
  border: none;
  margin-left: 10px;
  width: 280px;
  font-size: 0.9rem;
}

.login__input input:focus {
  outline: none;
}

.login__input .svg-inline--fa path {
  color: rgb(180, 180, 180);
}

.login__checkbox {
  display: flex;
  align-items: center;
  color: darkgray;
  font-weight: 500;
  font-size: 0.9rem;
}

.login__checkbox input {
  margin-right: 5px;
}

.login__submit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login__submit p {
  margin-bottom: 0;
  color: darkgray;
  font-size: 0.9rem;
  border-bottom: 1px solid lightgray;
  cursor: pointer;
}

.login__submit button {
  border: 1px solid var(--primary-color);
  color: var(--secondary-color);
  font-weight: 500;
  background-color: var(--primary-color);
  border-radius: 5px;
  padding: 7px 15px;
}

.login__register {
  font-size: 0.9rem;
  color: gray;
}

.login__register a {
  color: var(--secondary-color);
  font-weight: 500;
  border-bottom: 1px solid var(--secondary-color);
}

.login__register a:hover,
.login__register a:active {
  text-decoration: none;
  color: var(--secondary-color);
}

@media (max-width: 800px) {
  .login img {
    display: none;
  }

  .login {
    background-color: white;
  }
  .home__link {
    right: unset;
  }
}
