body {
  overflow-x: hidden;
}

.app-anim {
  display: none;
}

@media (max-width: 992px) {
  .intro {
    display: none;
  }

  .app-anim {
    display: block;
  }
}

input:focus,
button:focus,
select:focus,
button:active {
  outline: none !important;
  box-shadow: none !important;
}

.inputError {
  border: 2px solid red !important;
}

.textError {
  color: red;
  font-size: 0.8rem;
  font-weight: 500;
  display: block;
  margin-bottom: 0 !important;
}

.btn-warning:hover,
.btn-warning:focus {
  background-color: orange !important;
  border-color: orange !important;
}

.icon-white path {
  color: white;
}

a:hover,
a:focus {
  text-decoration: none !important;
}
