body {
  overflow-x: hidden;
}

.app-anim {
  display: none;
}

@media (max-width: 992px) {
  .intro {
    display: none;
  }

  .app-anim {
    display: block;
  }
}

input:focus {
  outline: none !important;
}
